@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0d1117;
  font-family: "Mona Sans", sans-serif;
}
.bg-black-gradient {
  background: linear-gradient(180deg, #0d1117, transparent);
}
header nav a:hover,
header button:hover,
header span:hover {
  opacity: 0.7;
}
header form {
  background-color: #a8bfe729;
}

.section {
  @apply px-6 pt-4;
}

.section-layout > div:first-child {
  flex-basis: 9%;
}
.section-layout > div:last-child {
  flex-basis: 91%;
}
.verticle-line {
  width: 3px;
  height: 100%;
}
/* Gradients */
.line-gradient-1 {
  background: linear-gradient(transparent, #7c72ff 30%);
}
.line-gradient-2 {
  background: linear-gradient(#7c72ff, #2da44e 80%, #3fb950);
}
.green-transp-gradient {
  background: linear-gradient(#3fb950, transparent);
}

.green-transp-gradient-rev {
  background: linear-gradient(transparent, #3fb950 30%, transparent 100%);
}

.blue-transp-gradient {
  background: linear-gradient(#33b3ae, transparent);
}
.blue-transp-gradient-rev {
  background: linear-gradient(transparent, #33b3ae 30%, transparent 100%);
}
.transp-blue-gradient {
  height: 160px;
  background: linear-gradient(transparent, #33b3ae 40%);
}

.pink-transp-gradient {
  background: linear-gradient(#f778ba, transparent);
}
.pink-transp-gradient-rev {
  background: linear-gradient(transparent, #f778ba 30%, transparent 100%);
}
.transp-pink-gradient {
  background: linear-gradient(transparent, #f778ba 40%);
}

.purple-gradient {
  background: linear-gradient(
      180deg,
      rgba(183, 52, 179, 0.15) 0%,
      rgba(164, 46, 156, 0) 100%
    ),
    #6e40c9;
}

/* end of Gradients */
.hero-title {
  font-size: clamp(4rem, 9vw, 6rem);
  line-height: clamp(4rem, 9vw, 6rem);
  letter-spacing: 0.1rem !important;
}

.octicon-chevrow-stem {
  transition: 0.5s ease;
}
.icon-wrapper:hover .arrow-symbol-mktg {
  transform: translate(0);
}
.arrow-symbol-mktg {
  transform: translateX(-5px);
  transition: 0.5s ease;
}
.icon-wrapper:hover .octicon-chevrow-stem {
  stroke-width: 1.5;
}
.btn {
  box-shadow: #bc8cff 0 0 0 1px inset;
  border: none;
}
/* section style */
.subtitle {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.section-title {
  font-size: 2.4rem;
}
.section-media {
  max-width: 100%;
  border: 1px solid rgb(50, 50, 50);
  border-radius: 12px;
}

/* hover cards */
.hover-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.card {
  border: 1px solid rgb(49, 49, 49);
  border-radius: 10px;
  background-color: #161b22;
}
.full-card {
  grid-column: span 2;
}
.card > div:first-child {
  padding: 40px;
}
.tables {
  border: 1px solid rgb(49, 49, 49);
  border-radius: 10px;
  background-color: #161b22;
}
.tables-container {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) auto minmax(200px, 1fr);
  justify-content: center;
  align-items: start;
}
.table {
  background: rgba(235, 245, 255, 0.2);
  border-radius: 7px;
}
.table .label {
  background: rgba(235, 245, 255, 0.2);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}
.table.steps {
  border-top-left-radius: 0;
}
